<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="catchmedia.jamaica.dictionary"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_jamspeak"
        android:label="@string/app_name"
        android:theme="@style/Theme.Style" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeLessonActivity"
            android:label="@string/title_activity_home_lesson"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>

        <Fragment
            android:name="catchmedia.jamaica.dictionary.FragmentLesson"
            android:label="@string/title_activity_fragment_lesson" >
        </Fragment>
        <Fragment
            android:name="catchmedia.jamaica.dictionary.FragmentWord"
            android:label="@string/title_activity_fragment_word" >
        </Fragment>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".TranslatorActivity"
            android:label="@string/title_activity_translator" >
        </activity>
        <activity
            android:name=".PlacesToSeeActivity"
            android:label="@string/title_activity_places_to_see" >
        </activity>
        <activity
            android:name=".AddWordToServerActivity"
            android:label="@string/title_activity_add_word_to_server" >
        </activity>
    </application>

</manifest>
